.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
demo.py
myenv
test_dag_integrity_default.py
test_dag_example.py
.airflowignore
dag_integrity_exceptions.txt
config.yaml
.dockerignore